.title{
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 20px;
    height:60px;
    position: relative;
}
.channel-name{
    background-color: white;
    border-style: none;
    text-align: center;
    margin: 5px;
    position: absolute; right: 0px;
}
.tbody{
    text-align: start;
}
.news{
    border-style: none none none solid;
    border-color: chocolate;
    width: 25%;
    padding-left: 10px;
}
.sports{
    border-style: none none none solid;
    border-color: lightgreen;
    width: 25%;
    padding-left: 10px;
}
.international{
    border-style: none none none solid;
    border-color: hotpink;
    width: 25%;
    padding-left: 10px;
}
.sections{

}
.sections-img{
    width:24%;
    margin-left: 3px;
    position: relative;
}
.text{
    border-style:none;
    text-align: left;
    position: absolute;left:25%;
    width: 24%;
}
.text-1{
    border-style:none;
    text-align: left;
    position: absolute;
    width: 24%;
}
.text-2{
    border-style:none;
    /*big space between divs*/
    position:absolute; left:25%;
    text-align: left;
    width: 24%;
}
.text-3{
    border-style:none;
    position: absolute; left:50%;
    text-align: left;
    width: 24%;
}
.text-4{
    border-style:none;
    position: absolute; left:75%;
    text-align: left;
    width: 24%;
}
a:hover{
    background-color: blue;
    border-style: none none solid none;
    border-color: aqua;
        }
tr{
    border-style: none none none solid;
    border-color: royalblue;
    border-width: 500px;
}